.sidenav {
        width: 250px;
        top: 151px;
        /* height: 900px; */
        margin-left: 100px;
        background-color: #FFFFFF;
        overflow-x: hidden;
        
       text-align: left;
       font: normal normal 300 20px/35px Roboto;
       letter-spacing: 0px;
       color: #143754;
       opacity: 1;
        
    }
    .catSwitcher a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: #818181;
        display: block;
        text-align: left;
        font: normal normal 300 16px/22px Roboto;
        letter-spacing: 0px;
        color: #143754;
        opacity: 1;
      }
      
      .catSwitcher a:hover {
        color: #FFFFFF;
        background: #2066A2 0% 0% no-repeat padding-box;
      }
      
      .main {
        margin-left: 360px;
        font-size: 28px;
        padding: 0px 10px;
        margin-top: -55%;
        margin-bottom: 100px;
      }
      .numb{
        
        height: 24px;
        text-align: right;
        font: normal normal normal 16px/22px Roboto;
        letter-spacing: 0px;
        color: #315069;
        opacity: 1;
      }
      .MuiTypography-root.MuiBreadcrumbs-root.MuiTypography-body1.MuiTypography-colorTextSecondary{
        margin-top: 5px;
        margin-left: 10vw;
      }
      .categorySec{
        padding-top: 5vh;
      }
      .categoryHead{
        margin-left: 5vw;
      }
      .catSwitcher{
        overflow-y: scroll;
        max-height: 850px;
      }
      .photoContain{
      }
      .uk-slideshow-items{
        min-height: 850px !important;

      }
      .uk-accordion-title::before{
        background-color: white;
      }
      .catSwitcher .uk-active ,.catSwitcher .uk-active span,.catSwitcher .uk-active .uk-accordion-title {
        color: white !important;
        border-left: none !important;
      }
      .uk-tab>.uk-active>a{
        border-color: transparent !important;
        background-color:#2066A2 ;
        color: white !important;
      }
      @media screen and (max-width: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        .main{
          margin-left: 4px;
          margin-top: 6%;
        }
      } 