
.navbar navbar-expand-lg{
    top: 0px;
    left: 0px;
    width: 1370px;
    height: 78px;
    
}
.beta{
    width: 100%;
    background-color:rgb(197, 197, 7);
    color: black;
    padding-top: 10px;
    height: 40px;
    font-weight: bold;

}
.inskill{
  top: 14px;
  left: 95px;
  /* width: 178px; */
  min-width: 13vw;
  margin-right: 3vw;
  height: 43px;
  opacity: 1;
}
.search{
    padding-left: 49px;
    width: 377px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border:none ;
    border-radius: 10px;
    font: italic normal 300 15px/18px Roboto;
    letter-spacing: 0px;
    color: #68696A;
    opacity: 1;
   
}
.nav-link{
    text-align: center;
    font: normal normal 300 18px/31px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    text-transform: capitalize;
    opacity: 1
}
.navbar-brand{
    top: 20px;
    left: 151px;
    width: 122px;
    height: 40px;

}
.nav-item-1 {
    top: 29px;
    left: 768px;
    width: 65px;
    height: 21px;
}
.nav-item-2{
    top: 29px;
left: 871px;
width: 232px;
height: 21px;
}

.navbar-brand mx-4 px-4{
    top: 20px;
    left: 151px;
    width: 122px;
    height: 40px;
}
.butt{
  top: 20px;
  left: 1116px;
  width: 153px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1; 
  border:none;
  color:#D3262A
}
@media only screen and (max-width: 544px){
    .MuiPaper-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded{
        width: 344px;
    }
    .inskillzNav .navbar-nav>li>a{
text-align: start;
    }
    .butt{
        font-size:14px ;
  height: 30px;

    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1178px !important;
    }
}

