.meet-1{
    /* height: 35px; */
    text-align: center;
    font: normal normal bold 30px/35px Roboto;
    letter-spacing: 0px;
    color: #143754
}
.meet{
   
   text-align: center;
   font: normal normal 300 20px/24px Roboto;
   letter-spacing: 0px;
   color: #143754;
   opacity: 1;
   margin-bottom: 5%;
   width:40%;
   margin-left: 30%;
   margin-top: 15px;
}
.profile{
   width: 164px;
   height: 143px;
   opacity: 1;
   background: #E7F3FE;
   border-radius:36%;
   margin-bottom: 10px;
}
.position{
   height: 21px;
   text-align: center;
   font: normal normal normal 18px/21px Roboto;
   letter-spacing: 0px;
   color: #22435E;
   opacity: 1;
}
.instName{
    text-align: center;
    font: normal normal 500 30px/35px Roboto;
    letter-spacing: 0px;
    color: #22435E;
    opacity: 1;
    margin-top: 12px;
}
.title-2{
    height: 35px;
    text-align: center;
    font: normal normal 500 30px/35px Roboto;
    letter-spacing: 0px;
    color: #22435E;
    opacity: 1;
}
.text-1{
    width: 248px;
    height: 61px;
    text-align: center;
    font: normal normal 300 20px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
}
.view-all-1{
    width: 170px;
    height: 42px;
    background: #D3262A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
    border:none;
    color:#FFFFFF
}

@media only screen and (max-width: 544px) {
    .meet{
        margin-top: 10%;
        margin-bottom: 22%; 
        width: 100%;
    }
    .text{
        width: 236%;
        margin-left: -68%;
    }
    .meet{
        margin-left: 0px;
    }
    .profile{
        margin-bottom: 15px;
    }
  }



