.digitalMarketing {
    margin-top: 14px;
    text-align: left;
    font: normal normal bold 29px/34px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize 
  }
  .curx-header-padding{
    padding-left: 8vw;
  }
  .curx-header-progress-padding{
    padding-left: 42vw;
  }
  .curxSocialMedia {
    text-align: left;
    font: normal normal 300 25px/35px Roboto;
    letter-spacing: 0px;
    color: #D8D8D8;
    text-transform: capitalize
  }
  .crux-progress-name{
    margin-bottom: 11px;
    text-align: left;
    font: normal normal normal 14px/16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .progress{
    width: 17vw;
    height: 8px;
    margin-bottom: 15px;
  }
  .crux-progress-percentage{
    text-align: left;
    font: normal normal normal 18px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 18vw;
    margin-top: -32px;
  }
  .curx-view-status{
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 12px/18px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  .curx-video-player{
    margin-left: 97px;
    margin-top: 18px;
    width: 55.7vw;
    height: 438px;
  }

  /* course Content */

  .courseContent{
    margin-top: 12px;
    width: 27vw;
    height: auto;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 20px;
  }
  .courseContent-text{
    text-align: left;
    font: normal normal bold 25px/35px Roboto;
    letter-spacing: 0px;
    color: #282A2C;
    padding-left: 28px;
    padding-top: 32px;
    padding-bottom:15px;
    margin-bottom:30px ;
    border-bottom: 1px solid gray;
  }


  .curxTabs{
    padding-left: 8vw;
    margin-top: 49px;
  }
 /* curx tabs */
  .MuiTab-wrapper {
    font-size: 0px;
    padding-right: 0px;
    text-align: center;
    font: normal normal normal 18px/20px Roboto;
    letter-spacing: 0px;
    color: #143754;
  }

  /* Review */

  .MuiBox-root.MuiBox-root-30 {
    padding: 0px;
  }
  .review-chapter-name{
    padding:29px 0px 21px 13px;
    text-align: left;
    font: normal normal 600 18px/24px Open Sans;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #3F433D;
    opacity: 1;
  }
  .review-course-material {
    padding:29px 0px 21px 0px;
    text-align: left;
    font: normal normal 600 18px/24px Open Sans;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #3F433D;
    opacity: 1;
  }
  .review-instructor-performance{
    padding:29px 0px 21px 0px;
    text-align: left;
    font: normal normal 600 18px/24px Open Sans;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #3F433D;
    opacity: 1;
  }
  .review-chapter-name-text{
    width: 229px;
    text-align: left;
    font: normal normal normal 16px/20px Open Sans;
    letter-spacing: 0px;
    color: #3F433D;
  }
  
/* review star */
.MuiBox-root.MuiBox-root-36{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-40{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-44{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-48{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-52{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-56{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-60{
  padding-bottom: 7px;
  padding-left: 7px;
}
.MuiBox-root.MuiBox-root-64{
  padding-bottom: 7px;
  padding-left: 7px;
}
.curx-text-box{
  margin-left: 49px;
  width: 211px;
  height: 58px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #A5A5A5;
  border-radius: 6px;
  opacity: 1;
}
/* hr:not([size]) {
  height: 1px;
  margin-top: 45px;
  margin-bottom: -23px;
} */
.digitalTabgrp .MuiTabs-flexContainer button.Mui-selected {
  border-bottom: 5px solid #337ab7;
font: normal normal normal 22px/25px Roboto;
letter-spacing: 0px;
color: #143754;
font-weight: 500;
opacity: 1;
}
.digitalTabgrp .MuiTabs-flexContainer button {
  display: inline-block;
  margin-right: 10px;
  width:14vw;
  padding: 0px;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid #ADB9C3;
  transition: all 0.5s;
  font: normal normal normal 22px/25px Roboto;
  font-weight: 400;
  cursor: pointer;
  color: #6b6d6f;
} 
.digital-tabs .MuiBox-root{
  padding-left: 0px !important;
}
.digitalTabgrp #discussion{
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 67% !important;
}
.digitalTabgrp .MuiBox-root.MuiBox-root-113{
  padding-right: 0px !important;
}
.tabDwnld{
  width: 125px;
  background-color: white;
  border: none;
  border-radius: 6px;
  height: 39px;
  color: #282A2C;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 15px !important;
  font-weight: 500;
} 
.tabDwnld img{
  width: 15px;
}
.dwnldName{
  font: normal normal bold 16px/18px Roboto;
  color: #3F433D;
  margin-top: 10px;
}
.resourceContainer{
  padding: 15px 10px;
  background-color: #F8F8F8;
  height: 450px;
  overflow-y: auto;
}
.nonPdLeft{
  padding-left: 0px !important;
  width: 25%;
}
.xtraWidth{
width: 69%;
}
.tabResources{
  font: normal normal normal 11px/13px Roboto;
color: #3583C5;
opacity: 1;
}
.dwnldChapterNo{
  font: normal normal normal 9px/10px Roboto;
color: #A5A5A5;
opacity: 1;
margin-bottom: 6px !important;
}
.resHead{
margin-top: 0px !important;
}
.reviewHeadTab{
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 20px;
  width: 110% !important;

}
.revTxt{
  margin-top: -8px;
  margin-left: 7px;
}
  @media only screen and (max-width: 544px) {
    .curx-header-padding{
      padding-left: 5px;
    }
    .curx-header-progress-padding{
      padding-left: 2vw;
    }
    .digitalMarketing {
      width: 158px;
      font: normal normal bold 16px/24px Roboto;
    }
    .curxSocialMedia {
      padding-top: 12px;
      font: normal normal 300 15px/25px Roboto;
    }
    .crux-progress-name {
      font: normal normal normal 10px/12px Roboto;
    }
    .progress.progress-bar{
      width: 128px;
    }
    .progress{
      height: 7px;
    width: 146px;
    }
    .crux-progress-percentage{
      font: normal normal normal 15px/20px Roboto;
      margin-left: 41vw;
    }
    .curx-view-status{
      font: normal normal normal 10px/10px Roboto;
    }
    .curx-video-player{
      margin-left: 5px;
      margin-top: 5px;
      width: 97vw
    }

    /* course Content */

    .courseContent{
      width: 94vw;
      margin-left: 8px;
    }

    /* review */
    .curxTabs {
      padding-left: 0px;
      width: 360px;
      margin-top: 49px;
    }
    .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
      width: 99vw;
      /* height: 10.3vh; */
    }
    
    .review-chapter-name {
      padding-left: 19px;
      font: normal normal 600 12px/18px Open Sans;
    }
    .review-course-material {
      padding-left: 20px;
      font: normal normal 600 12px/18px Open Sans;
    }
    .review-instructor-performance {
      padding-left: 20px;
      padding-top: 24px;
      font: normal normal 600 12px/18px Open Sans;
    }
    .curx-text-box {
      width: 100px;
      height: 28px;
      margin-left: 10px;
    }
    .makeStyles-root-31 > .makeStyles-root-31 {
      width: 99vw;
    }
    
  }