
.card-head{
    background: transparent linear-gradient(258deg, #2E5B9A 0%, #3583C5 100%) 0% 0% no-repeat;
    /* left: 45px; */
    width: 337px;
    text-align:left;
    width: 257px;
    height: 105px;
    margin-top: 0%;
    position: absolute;
    border-radius:0px 0px 3px 3px;
    padding-left: 7px;
        
}
.card-head2{
    background: transparent linear-gradient(258deg, #2E5B9A 0%, #3583C5 100%) 0% 0% no-repeat !important;
    /* left: 45px; */
    /* width: 337px; */
    text-align:left;
    /* width: 257px; */
    /* height: 105px; */
    /* margin-top: 0%; */
    /* position: absolute; */
    border-radius:0px 0px 3px 3px !important;
    padding: 10px !important;
    position: relative;
    z-index: 100;

        
}
.crsalImg{
    width: 97%;
    margin-left: -3%;
}
.corner2{
    margin-left: 97% !important;
}
.font{
    color: #fff; 
}
.name{
    text-align: left;
    font: normal normal small 20px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1
}
.instructor{
    top: 2432px;
    left: 104px;
    width: 121px;
    height: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 12px;
}
.star{
    height: 14px;
}
.view{
    float: right;
    color:#fff;
    margin-right: 15px;
    font-size: 12px;
}
.rate{
    margin-left: 10px;
}
.corner{
    border-style: solid;
    border-color: transparent transparent transparent #183E72;
    border-width: 9px 0 0 9px;
    margin-left: 249px;
    margin-top: -17px;
    
}
.InfiniteCarouselScrollTrack{
    padding:0px 35px
}

@media only screen and (max-width: 544px) {
    .card-head{
        left: 28px;
        width: 80%;
        margin-left: -27px;
    }
    .card-abc{
        width: 100%; 
    }
    .font{ 
        font-size:13px
    }
    
    .view{
        margin-left:15%;
        font-size: 10px; 
    }
    .corner{
        margin-left: 86.5%;
    }
    .InfiniteCarouselSlide{
        width: 100% !important;
        margin-left: 10% !important;
    }
    .sliderimg{
        width:87% !important;
        margin-left: -12%;

    }
    .slidercard{
        width:90% !important;
    }
  }