.marketing-img{
    width: 100%;
    height: 452px;
    margin-top: -20px;
    filter: brightness(20%);
    background: #00000098 0% 0% no-repeat padding-box;
}
.header{
    top: 200px;
    left: 8vw;
    width: 334px;
    height: 49px;
    text-align: left;
    font: normal normal bold 42px/49px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    position: absolute;
}
.marketing-text{
    top: 258px;
    left: 8vw;
    width: 635px;
    text-align: left;
    font: normal normal 300 22px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}
.marketing-stars{
    top: 293px;
    width: 100px;
    height: 19px;
    left: 8vw;
    position: absolute;
}
.marketing-rate{
    top: 294px;
    left: 229px;
    width: 23px;
    height: 19px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
}
.marketing-buttons{
    width: 165px;
    height: 63px; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font: normal normal medium 14px/16px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin-right: 10px;
}
.bannerBtns{
    left: 8vw;
    top: 345px;    
display: flex;
position: absolute;

}
.bannerBtns2{
    left: 8vw;
display: flex;
position: absolute;
top: 430px;


}
.enrolBtn{
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: none;
    text-align: center;
    letter-spacing: 0px;
    color:white;
    width:330px;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #D3262A;
}
.dwnldBtn{
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: none;
    text-align: center;
    letter-spacing: 0px;
    color:#282A2C;
    width:330px;
    background-color: white;
}
.marketing-button{
    height: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
    border: none;
    text-align: center;
    letter-spacing: 0px;
    color:#282A2C;
    opacity: 1; 
    margin-right: 10px;
}
.card-profile{
    right: 5vw;
    /* position: absolute; */
    margin-top: -224px;
    width: 330px;
    border: none;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* border-radius: 14px; */
}
.profileDetails{
    border-radius: 0px 0px 10px 10px !important;
    padding-bottom: 25px;
    background-color: #ffffff;
}
.profile-details{
    top: 521px;
    left: 956px;
    height: 21px;
    text-align: left;
    font: normal normal normal 17px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
}
.profile-name{
    top: 521px;
    left: 1116px;
    width: 120px;
    margin-bottom: 20px;
    text-align: left;
    font: normal normal 500 18px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
}
.overview{
    top: 522px;
    left: 133px;
    width: 89px;
    height: 25px;
    text-align: center;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    margin-top: 29px;
}
.curriculum{
    top: 525px;
    left: 321px;
    width: 107px;
    height: 25px;
    text-align: left;
    margin-top: 29px;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 0.35;
}
.instructors{
    top: 525px;
    left: 524px;
    width: 95px;
    height: 25px;
    text-align: left;
    margin-top: 29px;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 0.35;
}
.review{
    top: 525px;
    left: 734px;
    width: 69px;
    height: 25px;
    text-align: center;
    margin-top: 29px;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 0.35;
}
.line{
    
    left: 98px;
    width: 160px;
    height: 0px;
    border: 5px solid #3583C5;
    opacity: 1;
    margin-left: -27px;
}
.line-1{
    top: 562px;
    left: 295px;
    width: 160px;
    height: 0px;
    border: 5px solid #ADB9C3;
    opacity: 1;
    margin-left: -27px;
}
.overview-text{
    top: 622px;
    left: 8vw;
    width: 791px;
    height: 441px;
    text-align: left;
    font: normal normal 300 15px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
    padding-left: 90px;
    padding-top: 60.5px;
}
.overview-text-1{
    text-align: left;
    font: normal normal 300 15px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
}
.image-text{
    top: 326px;
    left: 144px;
    width: 113px;
    height: 63px;
    margin-top: 9px;
    text-align: left;
    font: normal normal 500 14px/16px Roboto;
    letter-spacing: 0px;
    color: #000000;
   opacity: 1;
}
.button-image{
    top: 328px;
    left: 107px;
    width: 42px;
    height: 24px;
    opacity: 1;
}

.panelTxt{
    font: normal normal 300 15px/24px Roboto;
    color: #143754;
}



 #app {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  margin: 15px;
  background-color: white;
}

.tab {
  width: 100%;
  padding: 25px;
  font-family: sans-serif;
  color: #444;
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.marketing{
    padding-left: 12vw;
    margin-top: 25px;
}
.marketing .MuiTabs-root{
    border-bottom: none !important;
}
.marketing .MuiTypography-root {
    text-align: start;
    
}
.marketing .MuiBox-root{
    padding-left: 0px !important;
    padding-top: 50px !important;
}
.marketing .MuiTabs-flexContainer button {
  display: inline-block;
  margin-right: 5vw;
  width:10vw;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid #ADB9C3;
  transition: all 0.5s;
  font: normal normal normal 22px/25px Roboto;
  font-weight: 400;
  cursor: pointer;
  color: #6b6d6f;
} 

.marketing .MuiTabs-flexContainer button.Mui-selected {
  border-bottom: 5px solid #337ab7;
font: normal normal normal 22px/25px Roboto;
letter-spacing: 0px;
color: #143754;
font-weight: 500;
opacity: 1;
}
.tabImg{
    width: 45vw;
    margin-top: 40px;
}
.chapters{
    padding: 18px 0px 18px 33px;
    width: 330px;
    margin-top: 30px;
    background-color: #143754;
    border-radius: 10px;
    text-align: start;
}
.chapterHead{
    color: white;
    margin-bottom: 25px;
}
.chapterName{
    padding-left: 10px;
    /* font-size: 20px; */
    margin-bottom: 25px;
    font: normal normal 300 20px/25px Roboto;
    color: #FFFFFF;
    opacity: .8;


}
.tabs{
    text-align: left;
    font-size: 20px;
    margin-left: 8vw;
    margin-top: 25px;
} 
.navbar-collapse{
    width: 400px;
}

/* @media only screen and (max-width: 544px) {
    .header{
        left: 14px;
        font: normal normal bold 22px/49px Roboto;  
    }
    .marketing-text {
        font: normal normal 300 12px/14px Roboto;
        top: 205px;
        left: 14px;
        width: 328px;
    }
    .card-profile{
        margin-left: 15px;
        margin-top: 14px;
    }
    .marketing-stars{
      left: 14px;
      top: 228px;
      width: 19px;
      height: 11px;
    }
    .overview-text{
        width: 357px;
        margin-top: -42px;
        padding-left: 16px;
    }
    .headline{
        margin-top: 477px;
    }
    .overview{
      left: 133px;
      width: 77px;
      font: normal normal normal 18px/23px Roboto; 
    }
    .curriculum{
        font: normal normal normal 18px/25px Roboto;
    }
    .instructors{
        font: normal normal normal 18px/25px Roboto;
    }
    .review{
        font: normal normal normal 18px/25px Roboto;
    }
    .line{
        width: 68px;
        margin-left: 4px;
    }
    .line-1{
        width: 68px;
        margin-left: 4px;
    }
    .MuiInputBase-root.makeStyles-input-2{
        width: 347px;  
    }
    
} */