.best-plan{
    text-align: center;
    font: normal normal 600 30px/39px Roboto;
    letter-spacing: 0px;
    color: #143754;
}
.best-plan-text{
    width: 43.6vw;
    margin-left: 31vw;
    text-align: center;
    font: normal normal 300 20px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
}
.overviewContain{
  width: 100%;
  height:auto;

padding: 20px;
  background-color:#F4F4F4 ;
  border-radius: 6px;


}
.overviewImg{
  height:120px;
  width: 120px;
  margin: 10px;
  padding: 20px;
  align-self: center ;
  border: 2px dashed #D7D7D7;
  border-radius: 4px;
}
.overviewThumbnail{
  height:120px;
  width: 120px;
  margin: 10px;

  align-self: center ;
  border: 2px dashed #D7D7D7;
  border-radius: 4px;
}
.overviewContain textarea:focus{
  outline: none !important;
}
.dragzone{
  height:180px;
  width: 200px;
  margin: 10px;
  padding: 20px;
  align-self: center ;
  border: 2px dashed #D7D7D7;
  border-radius: 4px;
}
.dropContain{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-file-pdf{
  color: rgb(216, 10, 10);
  margin-bottom: 15px;
  margin-top: 20px;
}
.pdfCloseEdit{
  float: right;
  margin-right: -23px;
  margin-top: -23px;
  color:rgb(216, 10, 10) ;
  /* position: absolute; */
}
.overviewCloseEdit{
  position: absolute;
  margin-left: 120px;
  margin-top: 5px;
  color:rgb(216, 10, 10) ;
  /* position: absolute; */
}
.dragzone:hover{
  border: 2px dashed rgb(68, 176, 238);

}
.tutor-plan .uk-grid {
    margin: 16vh 10vw 10vh 10vw
}
.free{
    background: transparent linear-gradient(180deg, #872E4A 0%, #441725 100%) 0% 0% no-repeat padding-box;
    width: 23.41vw;
    height: 13.7vh;
    text-align: center;
    font: normal normal 300 30px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 23px;
}

.uk-card-header{
    padding: 0% !important;
}
.uk-card-body {
     padding: 0%
}
.monthly-fee{
   font: normal normal 900 40px/35px Roboto;
   letter-spacing: 0px;
   color: #2F5E9D;
}
.per-month{
   font: normal normal 500 11px/42px Roboto;
   letter-spacing: 0px;
   color: #767676;
}
.text-area{
    width: 200px;
    height: 41px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0 auto;
}
.fa-check{
    color: #378D00;
    margin-left: -3vw;
    margin-top: 15px;
}
.sample-text{
    text-align: left;
    font: normal normal normal 12px/35px Roboto;
    letter-spacing: 0px;
    color: #767676;
    padding-left: 11px;
}
.text-area1{
    width: 200px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #00000008;
    margin: 0 auto;
}
.fa-times{
    color: #FF3B3B;
    margin-left: -3vw;
    margin-top: 15px;
}
.sample-text1{
    text-align: left;
    font: normal normal normal 12px/35px Roboto;
    letter-spacing: 0px;
    color: #767676;
    padding-left: 11px;
}
.select-button{
    width: 200px;
    height: 40px;
    background: #812C47 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: none;
    margin-top: 23px;
    color: #FFFFFF;
    opacity: 1;
}
.standard{
    background: transparent linear-gradient(262deg, #2E5B9A 0%, #3583C5 100%) 0% 0% no-repeat padding-box;
    width: 23.41vw;
    height: 13.7vh;
    text-align: center;
    font: normal normal 300 30px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 23px;
}
.select-standard-button{
    width: 200px;
    height: 40px;
    background: #2E5B9A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: none;
    margin-top: 23px;
    color: #FFFFFF;
    opacity: 1;
}
.premium{
    background: transparent linear-gradient(180deg, #00D98E 0%, #006D47 100%) 0% 0% no-repeat padding-box;
    width: 23.41vw;
    height: 13.7vh;
    text-align: center;
    font: normal normal 300 30px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 23px;
}
.select-premium-button{
    width: 200px;
    height: 40px;
    background: #00905E 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    border: none;
    margin-top: 23px;
    color: #FFFFFF;
    opacity: 1;
}
  .bestPlan-card .uk-card .uk-card-hover .uk-card-body .uk-text-center{
    height: 87vh;
  }

/* schedule live class  Modal */

.schedule-live-class{
    text-align: left;
    font: normal normal 500 20px/26px Roboto;
    letter-spacing: 0px;
    color: #3583C5;
}
.schedule-view-calender{
    text-align: right;
    text-decoration: underline;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #143754;
    padding-right: 41px;
}
.schedule-course-language{
    text-align: left;
    font: normal normal 500 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
    line-height:5.7vh;
}
.select-courses-name{
    width: 27vw;
    height: 6vh;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    font: normal normal 300 16px/21px Roboto;
    padding-left: 10px;
    color: #143754;
}
.select-instructor-name{
    width: 16.63vw;
    margin-left: 40px;
    height: 40px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    font: normal normal 300 16px/21px Roboto;
    padding-left: 10px;
    color: #143754;
}
.add-instructor-button{
    width: 142px;
    height: 40px;
    background: #D3262A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
    border: none;
    margin-left: 16px;
    color: #FFFFFF;
}

/* dropdown */


#select-dropdown select {
    /* Hide default arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select.select-courses-name {
    background-image:
      linear-gradient(45deg, transparent 50%, #143754 50%),
      linear-gradient(135deg, #143754 50%, transparent 50%);
    background-position:
      calc(100% - 30px) calc(0.8em + 2px),
      calc(100% - 20px) calc(0.8em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      10px 10px,
      10px 10px,
      1px 1.5em;
    background-repeat: no-repeat;
  }

  select.select-courses-name:focus {
    background-image:
      linear-gradient(45deg, #143754 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #143754 50%);
    background-position:
      calc(100% - 20px) 1em,
      calc(100% - 30px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      10px 10px,
      10px 10px,
      1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }

  /* batch */

  .batch .uk-card-body {
    padding-left: 10px;
    width: 54px;
    height: 21px;
    text-align: left;
    font: normal normal 500 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
    opacity: 1;
  }
  .batch-name .uk-card-body{
    text-align: left;
    font: normal normal 500 14px/14px Roboto;
    letter-spacing: 0px;
    color: #143754;
    margin-left: 67px;
  }
  .batch-name .batch-a {
    width: 180px;
    height: 40px;
    padding-left: 9px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    margin-left: 67px;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
  }
  .batch-max-students .uk-card-body{
    text-align: left;
    font: normal normal 500 14px/14px Roboto;
    letter-spacing: 0px;
    color: #143754;
  }
  .batch-max-students .max-students{
    width: 180px;
    height: 40px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    padding-left: 9px;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
  }
  .schedule-now{
    width: 180px;
    height: 40px;
    background: #D3262A 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
    border: none;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
    margin-top: 31px;
  }

  .tutorFormHeader .uk-flex .uk-width-1-2{
    padding: 7.78vh 0px 7.78vh 7.49vw;
    text-align: left;
    font: normal normal normal 29px/38px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .tutorFormHeader .uk-flex .uk-width-1-3{
    width: 41vw;
    padding: 9.8vh 0px 9.8vh;
    text-align: right;
    text-decoration: underline;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .editForm .uk-card.uk-card-default.uk-card-large.uk-card-body{
    margin: 1.61vh 8.8vw 52vh 8.8vw;
  }
  .form-details .uk-card{
    padding: 43px 0px 0px 36px;
    margin-bottom: -50px;
  }
  .edit-course-name{
    text-align: left;
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
  }
  .edit-inputType {
    width: 35vw;
    height: 5.5vh;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    text-align: left;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
    padding-left: 20px;
  }
  .edit-inputBatch {
    width: 100%;
    height: 5.5vh;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
    text-align: left;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
    padding-left: 20px;
    
  }
  .edit-course-includes {
    width: 32.8vw;
    height: 6.4vh;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    border: none;
    margin-top: 5vh;
    text-align: left;
    font: normal normal 300 16px/21px Roboto;
    letter-spacing: 0px;
    color: #143754;
    padding-left: 20px;
  }
  .edit-checkbox-style{
    width: 30px;
    height: 30px;
  }
  .edit-includes{
    margin-top: 4vh;
  }
  .course-overview{
    text-align: right;
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #143754;
  }
  .course-overview-card{
    width: 72.6vw;
    height: 29.52vh;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    margin-bottom: 6vh;

  }
  .course-overview-text{
    text-align: left;
    font: normal normal 300 14px/19px Roboto;
    letter-spacing: 0px;
    color: #143754;
    padding: 12px 0px 0px 26px;
  }
  .course-broacher{
    width: 72.6vw;
    height: 41.62vh;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding: 4.58vh 27.9vw 4.56vh 27.8vw;
  }
  .broacher-dashed{
    width: 20.17vw;
    height: 32.5vh;
    border-width:2px;
    border-style:dashed;
    border-color: #D7D7D7;
    border-radius: 10px;
    padding: 4.2vh 5.5vw 0px 5.5vw;
    }
    .broacher-pdf{
      text-align: center;
      letter-spacing: 1.9px;
      color: #B7B7B7;
      margin: 19px -17px;
    }
    .select-chapter-name{
      width: 100%;
      height: 6.25vh;
      background: #F4F4F4 0% 0% no-repeat padding-box;
      border-radius: 6px;
      border: none;
      padding-left: 15px;
      text-align: left;
      font: normal normal 300 19px/25px Roboto;
      letter-spacing: 0px;
      color: #68696A;
    }
    .chapter-background{
      width: 72.6vw;
      height: 49.24vh;
      background: #F4F4F4 0% 0% no-repeat padding-box;
      border-radius: 0px 0px 6px 6px;
      opacity: 0.39;
    }
    .browse-video{
      width: 210px;
      height: 45px;
      background: #D3262A 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 6px;
      border: none;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    .chapter-dash-border{
      width: 31.53vw;
      height: 42.1vh;
      border-width:2px;
      border-style:dashed;
      border-color: #D7D7D7;
      border-radius: 10px;
      padding: 4.2vh 5.5vw 0px 5.5vw;
      margin: 3.21vh 0px 3.9vh 3vw;
  }
    .chapter-dash-border .fileName{
      text-align: center;
      letter-spacing: 2px;
      color: #52CA7B;
    }
    .chapter-drag-n-drop{
      letter-spacing: 2.3px;
      color: #B7B7B7;
    }
    .chapter .edit-chapter-2{
      font: normal normal normal 15px/24px Roboto;
      letter-spacing: 0px;
      color: #143754;
    }
    .details-update-button{
      width: 209px;
      height: 36px;
      background: #D3262A 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 6px;
      border: none;
      letter-spacing: 0px;
      color: #FFFFFF;
      margin-top: 11vh;
    }


  @media only screen and (max-width: 544px) {

    .editForm .uk-card.uk-card-default.uk-card-large.uk-card-body{
      margin: 10px;
      padding-left: 8vw;
    }
    .form-details .uk-card {
      margin-bottom: -28px;
    }
    .edit-inputType {
      width: 78vw;
    }
    .edit-course-includes {
      width: 68.7vw;
    }
    .edit-includes{
      margin-top: -4vh;
    }
    .course-overview-card{
      width: 77.6vw;
    }
    .course-overview-text {
      font: normal normal 300 10px/13px Roboto;
      padding: 10px 0px 0px 13px;
    }
    .course-broacher {
      width: 77vw;
      padding: 4.58vh 15.9vw 4.56vh 12vw;
    }
    .broacher-dashed {
      width: 48vw;
      padding: 3.2vh 13vw 0px 11vw;
    }
    .chapter-dash-border {
      width: 66.53vw;
      height: 34vh;
    }
    .select-chapter-name {
      width: 77vw;
    }
    .chapter-background {
      width: 77vw;
      height: 82vh;
    }
    .tutorFormHeader .uk-flex .uk-width-1-2 {
      padding: 5vh 0px 7.78vh 3vw;
      font: normal normal normal 17px/18px Roboto;
    }
    .tutorFormHeader .uk-flex .uk-width-1-3{
      width: 46vw;
      padding: 5vh 0px 5vh;
      font: normal normal normal 9px/16px Roboto;
    }
    .tutor-plan .uk-grid {
      margin: 6vh 1vw 1vh 1vw
    }
    .best-plan-text {
      width: 82vw;
      margin-left: 9vw;
      font: normal normal 300 15px/24px Roboto;
    }
    .best-plan {
      font: normal normal 600 28px/39px Roboto;
    }
    .tutor-plan .uk-grid>* {
      padding-left: 0px;
    }
    .free {
      width: 31vw;
      height: 10vh;
      font: normal normal 300 20px Roboto;
    }
    .standard {
      width: 31vw;
      height: 10vh;
      font: normal normal 300 20px Roboto;
    }
    .premium {
      width: 31vw;
      height: 10vh;
      font: normal normal 300 20px Roboto;
    }
    .monthly-fee {
      font: normal normal 900 23px/21px Roboto;
    }
    .bestPlan-card .uk-card .uk-card-hover .uk-card-body .uk-text-center{
      width: 32vw;
      height: 74vh;
    }
    
    .select-button {
      width: 31vw;
    }
    .select-standard-button {
      width: 31vw;
    }
    .select-premium-button {
      width: 31vw;
    }
    .text-area {
      width: 31vw;
    }
    .text-area1 {
      width: 31vw;
    }
    .sample-text {
      font: normal normal normal 10px/35px Roboto;
      padding-left: 4px;
    }
    .sample-text1 {
      font: normal normal normal 10px/35px Roboto;
      padding-left: 4px;
    }
  }
